section.our-best-team
    .container
        .row
            .col-4
                .s-title-wrap.underlined
                    p Our best
                    p team
                .s-plain-text
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                .o-b-t-btn-wrap
                    .b-a-btn
                        a(href="#").orange-btn.lato-bold20 Read more
            .col.o-b-t-members
                .row
                    .col
                        +team-member("John Doe", "Graphic Designer")
                    .col
                        +team-member("Emma Brown", "PR")
                    .col
                        +team-member("James Grey", "Fronted Developer")
                .row
                    .col
                        +team-member("Alice Mayer", "Team Leader")
                    .col
                        +team-member("Andrew Rem", "C++ Developer")
                    .col
                        +team-member("Brenda Flowers", "Marketing")