section.title-banner
    .t-b-title
        p.title-h1 This is the future of web design.
    .t-b-subtitle
        p.lato-light24 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporesse cillum dolore eu fugiat nulla eu fugiat nulla pariatur.
    .t-b-btn-wrap
        .b-a-btn
            a(href="#").orange-btn.lato-bold20 Read more