section.we-are-creative-team
    .container
        .row
            .col-4
                .s-title-wrap.underlined
                    p We are
                    p creative team
                .s-plain-text
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                .w-a-c-t-btn-wrap
                    .b-a-btn
                        a(href="#").orange-btn.lato-bold20 Read more
    //.w-a-c-t-decor
        .w-a-c-t-pic-grid__wrap
            ul.w-a-c-t-pic-grid
                +pic_grid_item('grid2')
                +pic_grid_item('grid2')
                +pic_grid_item('grid2')
                +pic_grid_item('grid2')
                +pic_grid_item('grid2')
                +pic_grid_item('grid2')

