.our-best-team
  background: $MineShaft
  z-index: 700

  .container
    padding: 93px 0
    color: $white

    .col,
    .col-4
      padding-left: 0
      padding-right: 0

    .s-title-wrap
      p:last-child
        color: $white

    .s-plain-text
      color: $white

    .o-b-t-btn-wrap
      margin-top: 80px

    .o-b-t-members
      margin-left: 80px

      .row
        display: flex
        justify-content: space-between

        .col
          margin-right: 10px
          text-align: center

          &:last-child
            margin-right: 0

      .t-m__photo
        img
          margin: 0 auto
          width: 80%

      .m-name
        margin-top: 10px
        margin-bottom: 8px
        font-family: $LatoHeavy
        font-size: 1.563em
        color: $TreePoppy
        text-transform:  uppercase

      .m-occup
        margin-top: 0
        margin-bottom: 40px
        font-family: $LatoLight
        font-size: 1.250em
        color: $SilverChalice
