.title-banner
  display: flex
  position: relative
  flex-direction: column
  justify-content: center
  padding: 435px 0 215px 0
  background: url("../img/title-banner/t-b-bg.jpg") center center no-repeat
  background-size: cover
  text-align: center
  z-index: 2

  p
    margin: 0

  .t-b-title
    display: block
    margin: 0 auto 77px auto
    line-height: 1
    max-width: 1137px

  .t-b-subtitle
    margin: 0 auto 87px auto
    max-width: 776px
    color: $white
