.we-are-creative-team
  position: relative
  padding: 93px 0
  z-index: 1

  .w-a-c-t-btn-wrap
    margin-top: 80px

  .w-a-c-t-decor
    position: absolute
    top: -100px
    right: -600px
    transform: rotate(-45deg)
    z-index: 1

    .s-title-wrap
      line-height: 1.2

    .w-a-c-t-btn-wrap
      margin-top: 65px

    .w-a-c-t-pic-grid__wrap
      width: 100%

    ul.w-a-c-t-pic-grid
      display: flex
      flex-wrap: wrap
      margin: 0
      width: 100%
      list-style:  none

      li
        display: flex
        justify-content: center
        width: 612px
        height: 612px

        .img-place
          align-self: center
          width: 550px
          height: 550px
          background: $TreePoppy

        img
          align-self: center

