@import "_vars"

@import "common/header"

@import "common/common-styles"

@import "sections/title-banner"

@import "sections/we-are-creative-team"

@import "sections/our-best-team"

html
  font-size: 16px
  margin: 0

body
  height: auto
  width: 100%
  margin: 0
  padding: 0

a
  text-decoration: none

ul
  padding-left: 0

.clearfix:after
  clear: both

.clearfix
  *zoom: 1

.wrapper
  display: block
  margin: 0 auto
  padding: 0
  position: relative
  overflow: hidden
  width: 100%

.col,
.col-6
  padding-right: 0
  padding-left: 0

.row
  margin: 0
  padding: 0

//@import "libs"
//@import "_media"