.title-h1
  text-transform: uppercase
  color: $white
  font-size: 6.813em
  font-family: $LatoBlack

.lato-light24
  font-size: 1.500em
  font-family: $LatoLight

.lato-bold20
  font-size: 1.250em
  font-family: $LatoBold

.lato-heavy24
  font-size:

.orange-btn
  padding: 18px 32px
  background: $TreePoppy
  border-radius: 30px
  color: $white
  text-transform: uppercase
  font-size: 1.250em
  font-family: $LatoBold

.s-title-wrap
  p
    font-size: 3.750em
    font-family: $LatoHeavy
    text-transform: uppercase
    margin: 0

    &:first-child
      color: $TreePoppy

    &:last-child
      color: $black

.underlined:after
  content: ''
  display: block
  margin: 40px 0
  width: 200px
  height: 4px
  background: $TreePoppy

.s-plain-text
  p
    font-size: 1.500em
    line-height: 1
    margin: 0

    &:first-child
      font-family: $LatoRegular

    &:last-child
      font-family: $LatoLight

