header
  position: absolute
  width: 100%
  top: 0
  left: 0
  z-index: 3

  .top-nav-menu
    display: flex
    justify-content: space-between
    list-style: none

    li
      a
        font-size: 0.938em
        font-family: $LatoBold
        color: $white
        text-transform: uppercase

        &::after
          content: ''
          display: block
          margin-top: 10px
          height: 2px
          width: 100%
          transform: scale(0)
          background: $TreePoppy
          transition: all 0.2s

        &:hover
          text-decoration: none
          &::after
            transform: scale(1)


  .logo-wrap
    position: relative
    margin:  0 auto
    top: 0
    width: 100%

  .logo-name
    text-align: center
    p
      display: inline-block
      margin: 44px auto 15px auto
      color: $white
      font-size: 3.750em
      font-family: $LatoHeavy

      &:after
        content: ''
        display: inline-block
        width: 14px
        height: 14px
        border-radius: 7px
        background: $TreePoppy

    &:after
      content: ''
      display: block
      margin:  0 auto
      width: 100px
      height: 4px
      background: $DustyGray

  .logo-social-shot
    display: flex
    justify-content: center
    margin: 27px auto 0 auto

    .social-icon-border
      display: flex
      justify-content: center
      margin-right: 25px
      width: 50px
      height: 50px
      border-radius: 25px
      border: 3px solid $white

      &:last-child
        margin-right: 0

      a
        align-self: center
        img
          display: block
          margin: 0 auto
          width: 60%
