mixin top-nav-item(item_name)
    li
        a(href="#").menu-name= item_name

mixin icon(name)
    a(href="#")
        img(class="svg-sprite-icon icon-" + name src="static/img/social-icons/" + name + ".svg")

mixin pic_grid_item(pic)
    li
        .img-place
        //img(src="static/img/w-a-c-t/" + pic + ".jpg")

mixin team-member(name, occupation)
    .team-member__wrap
        .t-m__photo
            img(src="static/img/o-b-t/" + name + ".jpg")
        .t-m__desc
            p.m-name= name
            p.m-occup= occupation
