extends ../layout/layout

block title
    | Businesses and Agencies

block header
    include ../common/header
block title-banner
    include ../sections/title-banner
block we-are-creative-team
    include ../sections/we-are-creative-team
block our-best-team
    include ../sections/our-best-team
block our-creative-work
    include ../sections/our-creative-work
block why-choose-us
    include ../sections/why-choose-us
block our-best-service
    include ../sections/our-best-service
block our-client-say
    include ../sections/our-client-say
block get-in-touch
    include ../sections/get-in-touch
block footer
    include ../common/footer