header
    .container
        .row
            .col-3
                ul.top-nav-menu.top-nav-menu__part1
                    +top-nav-item('Home')
                    +top-nav-item('About us')
                    +top-nav-item('Blog')
            .col-6
                .logo-wrap
                    .logo-triangle.empty
                        .logo-name
                            p digital
                        .logo-social-shot
                            .social-icon-border
                                +icon('facebook')
                            .social-icon-border
                                +icon('google-plus')
                            .social-icon-border
                                +icon('youtube-logo')
            .col-3
                ul.top-nav-menu.top-nav-menu__part2
                    +top-nav-item('Services')
                    +top-nav-item('Pages')
                    +top-nav-item('Contact us')

